/*Configuracion General*/

body{
    margin: 0;
    front-family: Arial, sans-serif;
    background-color: rgb(255, 153, 0);
    color: yellow;
}


/*Encabezado*/

header{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 30px;
}

header h1{
    margin-bottom: 10px;
    font-size: 36px;
}

header p{
    font-size: 18pt;
    text-align: center;
    padding: 15px;
}

nav a{
    color:#fff;
    text-decoration: none;
    margin: 0 15px;
}


/*Contendo principal*/


main{
    padding: 30px;
}


/*section primcipal*/
.principal{
    background-color: #dd710b;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.principal h2 {
    font-size: 30px;
}



/*Boton*/

button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
}


/*Seccion targetas*/

.targetas {
    text-align: center;
}

.targetas {
    display : inline-block;
    width: 25px;
    margin: 10px;
    padding: 20px;
    background-color: yellow;
    border-radius: 10px;
}


/* Pie de pagina*/

footer {
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 20px;
}
